<footer class="blue-green-background white-text">

  <div class="feet">

    <div id="left-foot" class="foot">

      <div class="top-of-a-foot">
        <div class="expander"></div>
        <div class="footer-line" id="footer-logo-and-name">
          <img src="./android-chrome-192x192.png" width="50" height="50"/>
          <span id="footer-name" class="no-wrap">
            B HEALthy
          </span>
        </div>
        <div class="footer-line footer-hl"></div>
      </div>

      <div class="footer-link-set">
        <div class="footer-link-set-item">
          <a href="index.html" class="footer-link white-text">home</a>
        </div>
        <div class="footer-link-set-item">
          <a href="our-mission.html" class="footer-link white-text">our mission</a>
        </div>
        <div class="footer-link-set-item">
          <a href="our-story.html" class="footer-link white-text">our story</a>
        </div>
        <div class="footer-link-set-item">
          <a href="our-menu.html" class="footer-link white-text">our menu</a>
        </div>
        <div class="footer-link-set-item">
          <a  href="your-order.html" class="footer-link white-text">your order</a>
        </div>
      </div>
    </div>

    <div id="right-foot" class="foot">

      <div class="top-of-a-foot">
        <div class="expander"></div>
        <span>Connect with us!</span>
        <div class="footer-line footer-hl"></div>
      </div>
      <div class="footer-link-set">
        <div class="footer-link-set-item">
          <img src="./static/utility-icons/email.png" class="footer-icon"/>
          <a href="mailto:BHealthy3@gmail.com"
            class="footer-link white-text">3BHealthy3@gmail.com</a>
        </div>
        <div class="footer-link-set-item">
          <img src="./static/utility-icons/phone.png" class="footer-icon"/>
          +1.973.888.9999
        </div>
        <div class="footer-link-set-item">
          <img src="./static/utility-icons/instagram-color.png" class="footer-icon"/>
          <a href="https://www.instagram.com/3bhealthy_official/"
            class="footer-link white-text"
            target="_blank">
            @3bhealthy_official</a>
        </div>
        <div class="footer-link-set-item">
          <img src="./static/utility-icons/fb.jpg" class="footer-icon"/>
          <a href="https://www.facebook.com/3BHealthy3"
            class="footer-link white-text"
            target="_blank">
            @3BHealthy3</a>
        </div>
        <div class="footer-link-set-item">
          <img src="./static/utility-icons/venmo.jpg" class="footer-icon"/>
          <a href="https://account.venmo.com/u/ThreeBHealthy"
            class="footer-link white-text"
            target="_blank">
            @ThreeBHealthy</a>
        </div>
      </div>
    </div>

  </div>
  <div id="final-word">
      <span id="copyright">&copy; 2022 3 B HEALthy</span>
  </div>
</footer>

