<nav id="main-navbar">
  <div class="nav-link-div">
    <a class="nav-link" href="index.html">home</a>
  </div>
  <div class="nav-link-div">
    <a class="nav-link" href="our-mission.html">our mission</a>
  </div>
  <div class="nav-link-div">
    <a class="nav-link" href="our-story.html">our story</a>
  </div>
  <div class="nav-link-div">
    <a class="nav-link" href="our-menu.html">our menu</a>
  </div>
  <div id="order-button-1" class="nav-link-div">
    <a class="nav-link" href="https://forms.gle/FqDLS7uE6d6dmm8N7" target="_blank">your order</a>
  </div>
</nav>
