<nav id="main-navbar">
  <div class="nav-link-div hide-when-small fickle">
    <a class="nav-link" href="index.html">home</a>
  </div>
  <div class="nav-link-div hide-when-small fickle">
    <a class="nav-link" href="our-mission.html">our mission</a>
  </div>
  <div class="nav-link-div hide-when-small fickle">
    <a class="nav-link" href="our-story.html">our story</a>
  </div>
  <div class="nav-link-div hide-when-small fickle">
    <a class="nav-link" href="our-menu.html">our menu</a>
  </div>
  <div class="nav-link-div hide-when-small fickle">
    <a class="nav-link" href="your-order.html">your order</a>
  </div>
  <div id="kludge" class="nav-link-div hide-when-big">
    <!-- <p class="nav-link">Menu</p> -->
    <!-- <a class="nav-link" href="#">Menu</a> -->
    <!-- <a class="nav-link" href="our-menu.html">menubar</a> -->
  </div>
  <div id="veggie-burger" class="nav-link-div hide-when-big">
    ☰
  </div>
</nav>

<nav id="responsive-navbar">
</nav>
