{% extends "base.html" %}

{% block title %}
  Home
{% endblock %}

{% block middlebodycontainer %}
<div id="middle-body-container">

  {% include "partials/logo-and-tagline-2.html" %}

  {# <p id="tagline"><span class="blue-green-text">Heal</span>thy Body, Soul &amp; Earth</p> #}

  <div id="info-card-img-split">

    <div class="img-split split">
      <img class="food-picture" src="./static/photos-of-food/sweet-wine-twists.jpg">
    </div>

    <div class="info-card-split blue-green-background white-text">
      <p class="info-card-header">Our logo <span class="gold-text"><b>bee</b></span>speaks our name...</p>
      <div class="info-card-content">
        We aim to BE… HEALTHY.
        The 3 bees stand for
        <ol>
          <li>Body</li>
          <li>Soul</li>
          <li>Earth</li>
        </ol>
        The flower of life design reminds us that EVERYTHING &amp; EVERYONE is connected.
      </div>
      {# <div class="info-card-footer"> #}
      {#   Together we create CommUNITY! #}
      {# </div> #}
    </div>

  </div>        <!-- ends info-card-img-split -->


  <div id="info-card-img-split">

    <div class="info-card-split gold-background blue-green-text">
      <p class="info-card-header">Lorem ipsum dolor</p>
      <div class="info-card-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      </div>
      <div class="info-card-footer">
        deserunt mollit anim id est laborum
      </div>
    </div>

    <div class="img-split split">
      <img class="food-picture" src="./static/photos-of-food/paximathia.jpg">
    </div>

  </div>        <!-- ends info-card-img-split -->

</div> <!-- inside body container end -->
{% endblock %}
