{% extends "base.html" %}

{% block title %}
  Our Story
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/slider.css">

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
        crossorigin="anonymous"></script>

{% endblock %}


{% block afternavbar %}
  {% include "partials/logo-and-tagline-thin.html" %}
{% endblock %}



{% block middlebodycontainer %}

<div class="slider">
  <div class="slider-photos">

    <img src="../static/photos-of-food/baklava.jpg" class="slider-pic shown" alt="">

    <img src="./static/photos-of-food/bouquet.jpg" class="slider-pic" alt="">
    <img src="./static/photos-of-food/chocolate-paximathia.jpg" class="slider-pic" alt="">
    <img src="./static/photos-of-food/date-cookie.jpg" class="slider-pic" alt="">
    <img src="./static/photos-of-food/honey-dipped-cookies.jpg" class="slider-pic" alt="">
    <img src="./static/photos-of-food/oatmeal-2.jpg" class="slider-pic" alt="">
    <img src="./static/photos-of-food/pasta-flora.jpg" class="slider-pic" alt="">
    <img src="./static/photos-of-food/paximathia.jpg" class="slider-pic" alt="">
    <img src="./static/photos-of-food/sweet-wine-twists.jpg" class="slider-pic" alt="">

    <div class="buttons">
      <div class="prev"></div>
      <div class="next"></div>
    </div>
  </div>
</div>


{% endblock %}

