
/* spectral-200 - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-200.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-200.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-200italic - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 200;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-200italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-200italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-200italic.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-300 - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-300.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-300italic - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-300italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-300italic.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-regular - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-regular.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-italic - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-italic.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-500 - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-500.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-500italic - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 500;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-500italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-500italic.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-600 - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-600.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-600italic - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-600italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-600italic.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-700 - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-700.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-700italic - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-700italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-700italic.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-800 - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-800.svg#Spectral') format('svg'); /* Legacy iOS */
}

/* spectral-800italic - latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 800;
  src: url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-800italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/spectral-v12-latin-ext_latin_cyrillic-800italic.svg#Spectral') format('svg'); /* Legacy iOS */
}











/* ------------------------------------------- */

:root {
    --AbsoluteMaxWidth: 800px;
    --VeryBackgroundColor: #F3F3F3;
    --BackgroundColor: white;
    --Gold: #F3C967;
    --BlueGreen: #4F8096;
    --CoolBlack: #212922;
    --CoolPurple: #3F3047;
    --CarouselWidth: 300px;
    --BrandFontFamily: Spectral, serif;
    --SansFontFamily: Roboto, Helvetica, sans-serif;

    --BreakAwayPoint: 790px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin:  0px;
    padding: 0px;
}

/* ------------------------------------------- */


/* ------------------------------------------- */

body {
    margin: auto;
    background-color: var(--VeryBackgroundColor);
}

* {
    font-family: var(--BrandFontFamily);
}

/* ------------------------------------------- */


/* ------------------------------------------- */

    /* utility classes */

.blue-green-text {
    color: var(--BlueGreen);
    font-weight: bold;
}

.gold-text {
    color: var(--Gold);
    font-weight: bold;
}

.purple-text {
    color: var(--CoolPurple);
    font-weight: bold;
}

.text-color-background {
    color: var(--BackgroundColor);
}

.blue-green-background {
    background: var(--BlueGreen);
}

.gold-background {
    background: var(--Gold);
}

.blue-green-shadow {
    box-shadow: 5px 7px var(--BlueGreen);
}

.gold-shadow {
    box-shadow: 5px 7px var(--Gold);
}

.black-text {
    color: black;
}

.cool-purple-text {
    color: var(--CoolPurple);
}

.white-text {
    color: white;
}

.invisible {
    visibility: hidden;
}

.expander {
    flex-grow: 1;
}

.no-wrap {
    white-space: nowrap;
}

.three00-width {
    width: 300px;
}

/* ------------------------------------------- */

/* ------------------------------------------- */

    /* NAV BAR THINGS */

#main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding: 20px 0px; */
    width: 100%;
    gap: 1em;
    background-color: var(--Gold);
}

a.nav-link {
    font-style: normal;
    text-decoration: none;
    padding: 9px 20px;
    text-align: center;
    color: var(--BlueGreen);
    font-weight: 700;
}

a.nav-link:hover {
    background-color: var(--BlueGreen);
    color: var(--Gold);
}

.nav-link-div {
    display: flex;
    height: 50px;
    align-items: center;
}

/* when smaller screens... */
@media only screen and (max-width: 780px) {
  #main-navbar {
      flex-direction: column;
      align-items: center;
  }
  a.nav-link {
    text-decoration: underline;
  }
}


/* ------------------------------------------- */


/* ------------------------------------------- */

    /* LARGE LAYOUT STRUCTURES */

#between-header-and-footer {
    display: flex;
    flex-direction: column;
}

#between-header-and-footer-vert {
    display: flex;
    flex-direction: column;
}


#stage-left {
}

#stage-right {
}

/* ------------------------------------------- */


/* ------------------------------------------- */

    /* THE MIDDLE BODY */


#middle-body-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
}

#logo-and-tagline {
    width: 95%;
}

#prelude {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--Gold);
    border-radius: 11px;
    border-style: none solid;
    padding: 10px;
    margin-bottom: 2rem;
}

/* !!!!!!!!!!! */
/* when smaller screens... */
@media only screen and (max-width: 780px) {
    #info-card-img-split, #info-card-img-split-i2 {
        display: none;
    }
}

#circle-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.big-image {
    width: calc(var(--AbsoluteMaxWidth) * 0.4);
    /* max-width: 95%; */
}

@media only screen and (max-width: 780px) {
    img.big-image {
        width: calc(var(--AbsoluteMaxWidth) * 0.3);
    }
}

p#tagline {
    margin-top: 35px;
    font-style: italic;
    font-size: 1.5em;
}

#bee-path-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
}

/* when smaller screens... */
@media only screen and (max-width: 780px) {
    #bee-path-container {
        display: none;
    }
}

#bee-path-svg-home {
    width: 40%;
}

#bee-path-svg-2 {
    width: 500px;
}

/* when smaller screens... */
@media only screen and (max-width: 780px) {
    #circle-logo-in-thin {
        display: none;
    }
    #bee-path-svg-2 {
        width: 100%;
    }
}

/* ------------------------------------------- */


/* ------------------------------------------- */

    /* AN INFO CARD / PHOTO ELEMENT */

#info-card-img-split, #info-card-img-split-i2 {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-block: 2rem;
    align-items: center;
}

#photo-of-cutting-something {
    width: 100%;
}

/* when smaller screens... */
@media only screen and (max-width: 780px) {
    #info-card-img-split, #info-card-img-split-i2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-card-content {
        padding: 2em;
    }
}

/* !!!!!!!!!! */
/* when smaller screens... */
@media only screen and (max-width: 780px) {
    /* #info-card-img-split, #info-card-img-split-i2 { */
    /* #info-card-img-split-i2 { */
    /* #info-card-img-split-i2 { */
    #photo-of-cutting-something {
        /* display: none; */
        /* width: 60%; */
    }
}

.img-split {
    flex-basis: 33%;
    width: 300px;
    height: 300px;
}

.long-img-split {
    flex-basis: 33%;
}

.split {
    flex-grow: 1;
}

.food-picture {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}


.info-card-split {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex-grow: 1;
    flex-basis: 66%;
    justify-content: space-evenly;
}

.info-card-header {
    font-size: 1.5em;
    text-align: right;
    padding-inline: 1em;
}

.info-card-content {
    /* font-family: var(--SansFontFamily); */
    font-size: 0.9em;
    padding-inline: 2em;
    max-width: 70ch;
    flex-grow: 1;
}

#flower-of-life {
    padding: 20px 0px;
}

li {
    /* font-family: var(--SansFontFamily); */
    font-size: 0.9em;
}

.info-card-footer {
    font-size: 1.3em;
    text-align: left;
    padding-inline: 1em;
    padding-bottom: 1em;
}




/* ------------------------------------------- */


/* ------------------------------------------- */

/* FOOTER THINGS */


footer {

    /* opacity: 50%; */

    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 100px; */
    margin: 10px 0px;
}

.feet {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.foot {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    justify-content: center;
    padding: 60px 80px;
}

#footer-logo-and-name {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.top-of-a-foot {
    display: flex;
    flex-direction: column;
    height: 75px;
}

.footer-line {
    margin: 6px 0px;
}

#footer-name {
    font-size: 1.7rem;
}

.footer-link {
    font-style: normal;
    text-decoration: none;
}

.footer-link:hover {
    color: var(--Gold);
}

.footer-hl {
    height: 1px;
    background-color: white;
    width: 70%;
}

.footer-link-set {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

#final-word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
}

#copyright {
    font-style: italic;
    font-size: .9em;
}

.footer-link-set-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 3.5ch;
}

.footer-icon {
    width: 20px;
    height: 20px;
}



/* when smaller screens... */
@media only screen and (max-width: 780px) {
  .feet {
      flex-direction: column;
      align-items: center;
  }
  .footer-line {
      flex-direction: column;
  }
  #left-foot {
      padding: 40px 10px 0px 10px;
  }
  #right-foot {
      padding: 0px 10px 0px 10px;
  }
  .footer-hl {
      width: 100%;
  }
}

/* ------------------------------------------- */


/* ------------------------------------------- */

/* (MORE) HOME THINGS */

#intro-1 {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
}

.right-align {
    align-self: flex-end;
}

.indent-a-little {
    padding-left: 15px;
}

.not-footer-tho {
    background-color: white;
    border-radius: 10px;
    padding: 2px;
}

/* ------------------------------------------- */



/* ------------------------------------------- */

/* MISSION THINGS */

.narrower {
    max-width: 800px;
}

.less-narrower {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-self: center;
}

.info-card-multiple-split {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-block: 2rem;
}

/* when smaller screens... */
@media only screen and (max-width: 780px) {
    .info-card-multiple-split {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-card-content {
        padding: 2em;
    }
    .list-element-bee-big {
        margin-top: 0px;
    }
    .no-mobile-picture {
        display: none;
    }
}

.list-element-bee-big {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.info-card-content .a-little-wider {
    max-width: 100ch;
}

.a-little-wider {
    max-width: 100ch;
}

.more-padding {
    padding: 2em;
}

.bigger-font {
    font-size: 1.1rem;
}

.more-bigger-font {
    font-size: 1.3rem;
}

.even-bigger-font {
    font-size: 1.5rem;
}

.more-top-margin {
    margin-top: 2em;
}

.people-picture {
    /* max-height: 100%; */
    border-radius: 10px;
}

.no-mobile-picture {
}

a.light-link:link {
    color: white;
}

a.light-link:hover {
    color: var(--Gold);
}

a.light-link:visited {
    color: var(--Gold);
}

a.dark-link:link {
    color: var(--BlueGreen);
}

a.dark-link:hover {
    color: var(--CoolPurple);
}

a.dark-link:visited {
    color: var(--CoolPurple);
}

#logo-and-tagline-thin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 90px; */
    margin: 40px 0px 0px 0px;
    /* width: 95%; */
}

#prelude-thin {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    align-items: center;
    border: var(--Gold);
    border-radius: 11px;
    border-style: none solid;
    padding: 10px;
    gap: 90px;
}

img.big-image-thin {
    width: 150px;
    height: 150px;
}

.tagline-thin {
    /* margin-top: 35px; */
    font-style: italic;
    font-size: 1.5em;
    text-align: right;
}

#taglines {
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------- */



/* ------------------------------------------- */

/* STORY THINGS */

#story-main, #story-second {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

#story-main {
    background-color: var(--BlueGreen);
    color: white;
}

#story-second {
    background-color: var(--Gold);
    color: var(--BlueGreen);
    margin-top: 20px;
    font-weight: 700;
}

/* when smaller screens... */
@media only screen and (max-width: 780px) {
    #story-main, #story-second {
        flex-direction: column;
    }
}


.story-text {
    padding: 0px 20px;
}

#story-photo-1 {
    margin: 0px 30px 0px 10px;
}


#story-photo-2 {
    margin: 0px 10px 0px 30px;
}

.italic-text {
    font-style: italic;
}

.eight00 {
    font-weight: 800;
}

/* .jcenter { */
/*     align-self: center; */
/* } */

.info-card-split-2 {
    display: flex;
    /* flex-direction: column; */
    border-radius: 10px;
    flex-grow: 1;
    flex-basis: 66%;
    justify-content: space-evenly;
}

#explainer {
    font-size: 0.8em;
}

/* when smaller screens... */
@media only screen and (max-width: 780px) {
    .info-card-split-2 {
        flex-direction: column;
    }
    #explainer {
        align-self: center;
    }
    #story-photo-1, #story-photo-2 {
        margin: 0 10px 0 10px;
    }
}

#nj-info {
    font-style: italic;
}


/* ------------------------------------------- */














div.carousel-container {
    position: relative;
    width: var(--CarouselWidth);
    padding: 5px;
    background-color: #222;
}





figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    /* max-width: 220px; */
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}


hr {
    height: 1px;
}

.carousel-slide>img {
    width: var(--CarouselWidth);
}




/* Hide the images by default */
.carousel-slide {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222222b8;
    color: white;
    position: absolute;
    width: 98%;
    top: 275px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* img { */
/*     max-width: 50%; */
/* } */

p#caption {
    padding: 0px;
    margin: 0px;
}


#holder-of-carousel {
    background-color: #4f8096;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* when smaller screens... */
@media only screen and (max-width: 780px) {
    #holder-of-carousel {
        display: none;
    }
}

.splide {
    margin: 0 auto;
}

.thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
    /* background-color: #3F3047; */
}

.thumbnail {
    width: 70px;
    height: 70px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
    opacity: 0.3;
}

.thumbnail.is-active {
    opacity: 1;
}

.thumbnail img {
    width: 100%;
    height: auto;
}

.splide__arrow--prev {
    left: -10em;
}

.splide__arrow--next {
    right: -3em;
}

.main-slider-track {
    margin: 10px;
    padding: 10px;
}


#caption-holder {
    display: flex;
    padding: 10px 0px;
    width: 400px;
    /* height: 50px; */
    background-color: #8a8a8a66;
    color: white;
        /* color: #f3c967; */
    justify-content: center;
    align-items: center;
    position: relative;
}

#caption-div {
    font-size: .9rem;
}

.center-this-text {
    text-align: center;
}

#prelude-thin-left {
    display: flex;
    flex-direction: column;
}


#signup-holder {
    width: 400px;
}

#mc_embed_signup .foot {
    width: 90%;
    align-items: center;
}

#mc_embed_signup {
    border-radius: 10px;
}

table {
    width: 100%;
}


#pricing-table {
    /* max-width: 500px; */
    background: var(--Gold);
    border-radius: 10px;
    padding: 30px 20px;
    font-size: 1.2rem;
}

#pricing-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#pricing-asterisk {
    font-size: .7rem;
    padding: 0px 30px;
}

#payments-table > table > td {
    padding: 10px 20px;
}


#mc_embed_signup {
    background: var(--BlueGreen) !important;
    /* color: var(--Gold) !important; */
    color: white !important;
}

#mc_embed_signup .button {
    background-color: var(--Gold) !important;
    color: black !important;
}

#mc_embed_signup .foot {
    display: flex !important;
}

#mc_embed_signup_scroll h2 {
    color: var(--Gold) !important;
    text-align: center !important;
}

.signup-form-text {
    padding: 10px;
}


#payments-table {
    /* max-width: 500px; */
    background: var(--Gold);
    border-radius: 10px;
    padding: 30px 20px;
    font-size: 1.2rem;
}

#payments-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#payments-asterisk {
    font-size: 1rem;
    padding: 0px 30px;
}

#how-to-place-an-order {
    background-color: var(--BlueGreen);
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

#main-order-holder {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#order-right {
}

/* when smaller screens... */
@media only screen and (max-width: 780px) {
    #main-order-holder {
        flex-direction: column;
    }
    #order-right {
        align-self: center;
    }
}

#order-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#holder-of-order-carousel {
    background-color: var(--CoolPurple);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
