

/* ------------------------------------------- */

:root {
    --AbsoluteMaxWidth: 800px;
    --VeryBackgroundColor: #F3F3F3;
    --BackgroundColor: white;
    --Gold: #F3C967;
    --BlueGreen: #4F8096;
    --CarouselWidth: 300px;
    --BrandFontFamily: Spectral, serif;
    --SansFontFamily: Roboto, Helvetica, sans-serif;

    --BreakAwayPoint: 790px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin:  0px;
    padding: 0px;
}

/* ------------------------------------------- */


/* ------------------------------------------- */

body {
    margin: auto;
    background-color: var(--VeryBackgroundColor);
}

* {
    font-family: var(--BrandFontFamily);
}

/* ------------------------------------------- */


/* ------------------------------------------- */

    /* utility classes */

.blue-green-text {
    color: var(--BlueGreen);
    font-weight: bold;
}

.text-color-background {
    color: var(--BackgroundColor);
}

.blue-green-background {
    background: var(--BlueGreen);
}

.gold-background {
    background: var(--Gold);
}

.black-text {
    color: black;
}

.white-text {
    color: white;
}

.invisible {
    visibility: hidden;
}

.expander {
    flex-grow: 1;
}

.no-wrap {
    white-space: nowrap;
}

/* ------------------------------------------- */

/* ------------------------------------------- */

    /* NAV BAR THINGS */

#main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding: 20px 0px; */
    width: 100%;
    gap: 1em;
    background-color: var(--Gold);
}

a.nav-link {
    font-style: normal;
    text-decoration: none;
    padding: 9px 20px;
    text-align: center;
    color: var(--BlueGreen);
    font-weight: 700;
}

a.nav-link:hover,
a.nav-link:focus {
    background-color: var(--BlueGreen);
    color: var(--Gold);
}

.nav-link-div {
    display: flex;
    height: 50px;
    align-items: center;
}

/* when smaller screens... */
@media only screen and (max-width: 780px) {
  #main-navbar {
      flex-direction: column;
      align-items: center;
  }
  a.nav-link {
    text-decoration: underline;
  }
}


/* ------------------------------------------- */


/* ------------------------------------------- */

    /* LARGE LAYOUT STRUCTURES */

#between-header-and-footer {
    display: flex;
    flex-direction: row;
}


#stage-left {
}

#stage-right {
}

/* ------------------------------------------- */


/* ------------------------------------------- */

    /* THE MIDDLE BODY */


#middle-body-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
}

#logo-and-tagline {
    width: 95%;
}

#prelude {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--Gold);
    border-radius: 11px;
    border-style: none solid;
    padding: 10px;
    margin-bottom: 2rem;
}

img.big-image {
    width: calc(var(--AbsoluteMaxWidth) * 0.4);
    max-width: 95%;
}

p#tagline {
    margin-top: 35px;
    font-style: italic;
    font-size: 1.5em;
}

/* ------------------------------------------- */


/* ------------------------------------------- */

    /* AN INFO CARD / PHOTO ELEMENT */

#info-card-img-split {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-block: 2rem;
}

/* when smaller screens... */
@media only screen and (max-width: 780px) {
    #info-card-img-split {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-card-content {
        padding: 2em;
    }
}

.img-split {
    flex-basis: 33%;
    width: 300px;
    height: 300px;
}

.split {
    flex-grow: 1;
}

.food-picture {
    width: 300px;
    height: 300px;
}

.info-card-split {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex-grow: 1;
    flex-basis: 66%;
    justify-content: space-evenly;
}

.info-card-header {
    font-size: 1.5em;
    text-align: right;
    padding-inline: 1em;
}

.info-card-content {
    font-family: var(--SansFontFamily);
    font-size: 0.9em;
    padding-inline: 2em;
    max-width: 70ch;
    flex-grow: 1;
}

li {
    font-family: var(--SansFontFamily);
    font-size: 0.9em;
}

.info-card-footer {
    font-size: 1.3em;
    text-align: left;
    padding-inline: 1em;
    padding-bottom: 1em;
}




/* ------------------------------------------- */


/* ------------------------------------------- */

/* FOOTER THINGS */


footer {

    /* opacity: 50%; */

    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 100px; */
    margin: 10px 0px;
}

.feet {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.foot {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    justify-content: center;
    padding: 60px 80px;
}

#footer-logo-and-name {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.top-of-a-foot {
    display: flex;
    flex-direction: column;
    height: 75px;
}

.footer-line {
    margin: 6px 0px;
}

#footer-name {
    font-size: 1.7rem;
}

.footer-link {
    font-style: normal;
    text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
    color: var(--Gold);
}

.footer-hl {
    height: 1px;
    background-color: white;
    width: 70%;
}

.footer-link-set {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

#final-word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
}

#copyright {
    font-style: italic;
    font-size: .9em;
}

.footer-link-set-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 3.5ch;
}

.footer-icon {
    width: 20px;
    height: 20px;
}



/* when smaller screens... */
@media only screen and (max-width: 780px) {
  .feet {
      flex-direction: column;
      align-items: center;
  }
  .footer-line {
      flex-direction: column;
  }
  #left-foot {
      padding: 40px 10px 0px 10px;
  }
  #right-foot {
      padding: 0px 10px 0px 10px;
  }
  .footer-hl {
      width: 100%;
  }
}

/* ------------------------------------------- */

























div.carousel-container {
    position: relative;
    width: var(--CarouselWidth);
    padding: 5px;
    background-color: #222;
}





figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    /* max-width: 220px; */
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}


hr {
    height: 1px;
}

.carousel-slide>img {
    width: var(--CarouselWidth);
}




/* Hide the images by default */
.carousel-slide {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222222b8;
    color: white;
    position: absolute;
    width: 98%;
    top: 275px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* img { */
/*     max-width: 50%; */
/* } */

p#caption {
    padding: 0px;
    margin: 0px;
}
